<h3>MovieList</h3>

@if (!Movies.Any())
{
    <p>There are no movies to show</p>
}
else
{
    <div class="row">
        @foreach (Movie movie in Movies)
        {
            <IndividualMovie Movie="movie" DeleteMovie="() => DeleteMovie(movie)" />
        }
    </div>
}

@code {
    [Parameter] public List<Movie> Movies { get; set; }

    void DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }
}
