@page "/movie/create"
@inject IMovieService movieservice

<h3>Add a new movie</h3>

<MovieForm OnValidSubmit="Create" Movie="movie" />

@code {
    private Movie movie;

    protected override void OnInitialized()
    {
        movie = new Movie();
    }

    private void Create()
    {
        movieservice.AddMovie(movie);
    }
}
