@page "/genre/create"
@inject IGenreService service

<h3>Create a new Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre;

    protected override void OnInitialized()
    {
        genre = new Genre();
    }

    private void Create()
    {
        service.AddGenre(genre);
    }
}
