@page "/"
@page "/Home"
@inject IMovieService service

@if (movies == null)
{
    <div>
        <img src="./images/loading.gif" width="250" height="250" alt="loading..." />
    </div>
}
else
{
    <MovieList Movies="@movies" />
}

@code{
    List<Movie> movies;
    protected override async void OnInitialized()
    {
        await Task.Delay(3000);
        movies = await service.GetMoviesAsync();

    }
}