@page "/"
@page "/Home"
@inject IMovieService service

<a href="/movie/create">Add new Movie</a>

@if (movies == null)
{
    <div>
        <img src="./images/loading.gif" width="250" height="250" alt="loading..." />
    </div>
}
else
{
    <MovieList Movies="@movies" />
}

@code{
    List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = service.GetMovies();
    }
}